Repository Constantiner/monovitality: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint, npx stylelint

chore: Fix tests run
  package-lock.json
  package.json
Due: npx prettier --write

chore: Bump dependencies
  package-lock.json
  package.json
Due: npx prettier --write

chore(build): Remove Vite deprecation chunks related import
  eslint.config.js
  packages/site/src/vendors/prism/prism-dark.css
  packages/vite-scripts/src/vite/viteUtil.js
  packages/web/package.json
Due: npx prettier --write, npx eslint, npx stylelint

chore: Bump dependencies
  package-lock.json
  package.json
  packages/storybook/package.json
Due: npx prettier --write

refactor: Use inline and block CSS styles instead of width and height
  package-lock.json
  package.json
  packages/components/src/button/button.scss
  packages/components/src/iconHolder/iconHolder.scss
  packages/submodule/src/app/app.scss
  packages/vite-scripts/src/vite/viteUtil.js
  packages/web/src/app.scss
Due: npx prettier --write, npx eslint, npx stylelint

chore: Change Prettier config to use JavaScript format
  .prettierrc
  eslint.config.js
  prettier.config.cjs
  tsconfig.json
Due: npx prettier --write, npx eslint

feat(web): Fix CSS to prevent overscrolling
  packages/web/src/index.scss
Due: npx prettier --write, npx stylelint

fix(components): Fix Fontawesome icons size in Safari
  packages/components/src/iconHolder/iconHolder.scss
Due: npx prettier --write, npx stylelint

fix(web): Fix CSS styles on containers
  packages/web/src/app.scss
  packages/web/src/index.scss
Due: npx prettier --write, npx stylelint

fix: Fix wrapper CSS styles
  packages/components/src/styles/wrapperStyles.scss
  packages/storybook/.storybook/storybookStyles.scss
  packages/web/src/app.scss
  packages/web/src/index.scss
Due: npx prettier --write, npx stylelint

fix: Fix wrapper containers sizes
  packages/components/src/styles/wrapperStyles.scss
  packages/web/src/app.scss
Due: npx prettier --write, npx stylelint

fix(web): Fix container styles
  packages/web/src/app.scss
  packages/web/src/index.scss
Due: npx prettier --write, npx stylelint

chore(lint): Fix Unicorn plugin usage
  eslint.config.js
  packages/storybook/.storybook/main.ts
  packages/storybook/vite.config.ts
  packages/web/vite.config.ts
Due: npx prettier --write, npx eslint

chore(lint): Set up Node plugin for monorepos
  eslint.config.js
Due: npx prettier --write, npx eslint

chore: 🚀 Bump dependencies
  package-lock.json
  package.json
  packages/components/src/styles/_colors.scss
  packages/components/src/styles/_wrapper.scss
  packages/components/src/styles/wrapperStyles.scss
  packages/components/src/util/classUtil.ts
  packages/site/package.json
  packages/storybook/package.json
Due: npx prettier --write, npx eslint, npx stylelint

chore: 🚀 Bump dependencies
  package-lock.json
  package.json
Due: npx prettier --write

chore: Set verbatimModuleSyntax TS option
  packages/components/src/button/iconButton.tsx
  packages/components/src/button/labelButton.tsx
  packages/components/src/button/labelButtonBase.tsx
  packages/site/src/html.tsx
  packages/site/src/layout/metadata.tsx
  packages/site/src/pages/404.tsx
  packages/storybook/src/components/buttonLink.stories.tsx
  tsconfig.base.json
Due: npx prettier --write, npx eslint

Fix tests
  eslint.config.js
  packages/types/__tests__/tsconfig.json
  packages/types/jest.config.ts
  packages/web/__tests__/tsconfig.json
  packages/web/jest.config.ts
Due: npx prettier --write, npx eslint

chore: Add Prettier plugin to format package.json files
  .prettierignore
  package-lock.json
  package.json
  packages/components/package.json
  packages/site/package.json
  packages/storybook/package.json
  packages/submodule/package.json
  packages/types/package.json
  packages/vite-scripts/package.json
  packages/web/package.json
  prettier.config.cjs
Due: npx prettier --write, npx eslint

feat: Get rid of font awesome icons
  package-lock.json
  package.json
  packages/components/package.json
  packages/storybook/src/components/face-smile-regular.svg
  packages/storybook/src/components/iconButton.stories.ts
  packages/storybook/src/components/labelButton.stories.ts
  packages/web/src/app.tsx
  packages/web/src/minus.svg
  packages/web/src/plus-solid.svg
Due: npx prettier --write, npx eslint

chore: Fix dependencies
  package-lock.json
Due: npx prettier --write

Path conditions:
  npx prettier --write: ((any of: *.{js,jsx,cjs,ts,tsx}) or (any of: *.{css,scss})) or (any of: *.{json,htm,html,yml,huskyrc,lintstagedrc,prettierrc,stylelintrc})
  npx eslint: any of: *.{js,jsx,cjs,ts,tsx}
  npx stylelint: any of: *.{css,scss}
